<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Solar Power Generation Prediction</title>
  <link rel="stylesheet" href="static/css/styles.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

<body>
  <h1>Solar Power Generation Prediction</h1>

  <div class="form-container">
    <!-- Form for Plant 1 -->
    <form id="prediction-form1" class="prediction-form">
      <h2>Plant 1</h2> <br>
      <label for="date1">Date (YYYY-MM-DD):</label>
      <input type="date" id="date1" name="date1" required /> <br><br>

      <label for="time1">Time of the Day (HH:MM):</label>
      <input type="time" id="time1" name="time1" required /> <br><br>

      <label for="irradiation1">Irradiation ( in W/m^2): </label>
      <input type="number" id="irradiation1" name="irradiation1" step="any" required /> <br><br>

      <label for="ambientTemp1">Ambient Temperature (in C):</label>
      <input type="number" id="ambientTemp1" name="ambientTemp1" step="any" required /> <br><br>

      <label for="moduleTemp1">Module Temperature (in C):</label>
      <input type="number" id="moduleTemp1" name="moduleTemp1" step="any" required /> <br><br>

      <button type="submit">Predict AC Power</button> <br><br>
      <p id="prediction1"></p>
    </form>

    <!-- Form for Plant 2 -->
    <form id="prediction-form2" class="prediction-form">
      <h2>Plant 2</h2> <br>
      <label for="date2">Date (YYYY-MM-DD):</label>
      <input type="date" id="date2" name="date2" required /> <br><br>

      <label for="time2">Time of the Day (HH:MM):</label>
      <input type="time" id="time2" name="time2" required /> <br><br>

      <label for="irradiation2">Irradiation (in W/M^2):</label>
      <input type="number" id="irradiation2" name="irradiation2" step="any" required /> <br><br>

      <label for="ambientTemp2">Ambient Temperature (in C):</label>
      <input type="number" id="ambientTemp2" name="ambientTemp2" step="any" required /> <br><br>

      <label for="moduleTemp2">Module Temperature (in C):</label>
      <input type="number" id="moduleTemp2" name="moduleTemp2" step="any" required /> <br><br>

      <button type="submit">Predict AC Power</button> <br><br>
      <p id="prediction2"></p>
    </form>
  </div>

  <script>
    // AJAX request for Plant 1 form
    $("#prediction-form1").submit(function (event) {
      event.preventDefault();
      const date = $("#date1").val();
      const time = $("#time1").val();
      const irradiation = $("#irradiation1").val();
      const ambientTemp = $("#ambientTemp1").val();
      const moduleTemp = $("#moduleTemp1").val();

      $.ajax({
        url: "/predict_model1",
        method: "POST",
        contentType: "application/json",
        data: JSON.stringify({
          date: date,
          time: time,
          irradiation: irradiation,
          ambientTemp: ambientTemp,
          moduleTemp: moduleTemp
        }),
        success: function (response) {
          const roundedPrediction = Math.round(response.prediction * 100) / 100;
          $("#prediction1").text(
            "AC Power for Plant 1: " + roundedPrediction + " kW"
          );
        },
        error: function (jqXHR, textStatus, errorThrown) {
          console.error("Error:", textStatus, errorThrown);
          $("#prediction1").text(
            "An error occurred. Please try again later."
          );
        },
      });
    });

    // AJAX request for Plant 2 form
    $("#prediction-form2").submit(function (event) {
      event.preventDefault();
      const date = $("#date2").val();
      const time = $("#time2").val();
      const irradiation = $("#irradiation2").val();
      const ambientTemp = $("#ambientTemp2").val();
      const moduleTemp = $("#moduleTemp2").val();

      $.ajax({
        url: "/predict_model2",
        method: "POST",
        contentType: "application/json",
        data: JSON.stringify({
          date: date,
          time: time,
          irradiation: irradiation,
          ambientTemp: ambientTemp,
          moduleTemp: moduleTemp
        }),
        success: function (response) {
          const roundedPrediction = Math.round(response.prediction * 100) / 100;
          $("#prediction2").text(
            "AC Power for Plant 2: " + roundedPrediction + " kW"
          );
        },
        error: function (jqXHR, textStatus, errorThrown) {
          console.error("Error:", textStatus, errorThrown);
          $("#prediction2").text(
            "An error occurred. Please try again later."
          );
        },
      });
    });
  </script>
</body>

</html>